@import url("helpers.css");
@import url("ui.css");


/** Resseting layout **/
html, body {
    padding: 0px;
    margin: 0px;
    font-family: arial, san-serif;
    font-size: 0.9em;
    overflow-x: hidden;
}

a {
    color: #232AF5;
    text-decoration: none;
}

a:link , a:visited {
    color: #232AF5;
}

span.login {
    float: right;
    position: relative;
    top: -50px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    background-color: #9F9F9F;
    padding: 1px 5px 3px 5px;
    border-left: 1px solid #6B6B6B;
    border-top: 1px solid #6B6B6B;
    border-right: 1px solid #6B6B6B;
    color: #fff;
    text-shadow: 1px 1px 1px #6B6B6B;
}

span.login a {
    color: #fff;
    text-shadow: 1px 1px 1px #6B6B6B;
    font-weight: bold;
}

.x-hidden {
    display: none;
}

/** icons **/

.new-icon {
    background: url('../img/add.png') no-repeat center left;
    padding-left: 10px;
}

.delete-mono-icon {
    background: url('../img/delete-mono.png') no-repeat center left;
    padding-left: 12px;
}

.unread-mono-icon {
    background: url('../img/unread-mono.png') no-repeat center left;
    padding-left: 12px;
}

.delete-icon {
    background: url('../img/delete.png') no-repeat center left;
    padding-left: 15px;
}

.edit-mono-icon {
    background: url('../img/edit-mono.png') no-repeat center left;
    padding-left: 10px;
}

.edit-icon {
    background: url('../img/edit.png') no-repeat center left;
    padding-left: 15px;
}

.unread-icon {
    background: url('../img/unread.png') no-repeat center left;
    padding-left: 15px;
}

.helicopter-icon {
    background: url('../img/helicopter.png') no-repeat center left;
    background-size: 16px;
    padding-left: 15px;
}

.airplane-icon {
    background: url('../img/airplane.png') no-repeat center left;
    background-size: 16px;
    padding-left: 15px;
}

/** panels **/
table.table-pane {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

/** panels **/
table.table-pane th {
    border: 1px solid #ccc;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.05, rgb(255,255,255)),
        color-stop(0.46, rgb(214,214,214)),
        color-stop(0.94, rgb(255,255,255))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(255,255,255) 5%,
        rgb(214,214,214) 46%,
        rgb(255,255,255) 94%
    );
}

table.table-pane tr:nth-child(odd) {
    background-color: #ECF3FE;
}

table.table-pane td {
    padding: 4px;
    font-size: 95%;
}

/** modal form **/

.modal-form, .modal-form table {
    padding: 0px;
    margin: 0px;
}

.modal-form table {
    width: 100%;
    border-collapse:collapse;
}

.modal-form span {
    display: none;
    padding: 0px;
    margin: 0px;
}

.modal-form td {
    padding: 4px;
}

.modal-form tr td:first-child {
    text-align: right;
    color: #555;
    vertical-align: middle;
}

.modal-form select[multiple] {
    height: 70px;
    overflow: auto;
    width: 90%;
    margin: 0px;
}

.modal-form input[type="text"], .modal-form input[type="password"], .modal-form textarea {
    width: 90%;
}

.modal-form input[type="text"], .modal-form input[type="password"] {
    margin-left: 0px;
}

/** alignments **/

.align-left {
	text-align: left;
	margin-left: 30px;	
}

.align-right {
	text-align: right;	
}

.align-center {
	text-align: center;	
}

.bold {
	font-weight: bold;
}

ul.errors {
    padding: 2px;
    margin: 0px;
    list-style: none;
    color: #B90000;
    font-size: 0.8em;
}