/* 
    Document   : helpers
    Created on : Jun 9, 2010, 8:13:41 PM
    Author     : websites
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* General Floats */
.floatLeft {float: left}
.floatRight {float: right}

/* Text colors */
.txtGreen {color: lime}
.txtRed {color: red}
.txtBlue {color: skyblue}
.txtOrange {color: orange}

/* Text Shadow */
.txtShadow {
    text-shadow:1px 1px 1px #A1A1A1;
    -webkit-text-shadow:1px 1px 1px #A1A1A1;
    -moz-text-shadow:1px 1px 1px #A1A1A1;
    -o-text-shadow:1px 1px 1px #A1A1A1;
}

/* Background Colors */
.bgGreen {background: green}
.bgRed {background: red}
.bgBlue {background: skyblue}
.bgOrange {background: orange}

/* Corner radius */
.corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

/* Box Shadow */
.boxShadow {
    box-shadow:0px 0px 10px #D1D1D1;
    -webkit-box-shadow:0px 0px 10px #D1D1D1;
    -moz-box-shadow:0px 0px 10px #D1D1D1;
    -o-box-shadow:0px 0px 10px #D1D1D1;
}

/* Effects */
.glass {
   margin: 0px;
   padding: 0;
   border: 1px solid rgba(0,0,0,0.5);
   border-radius: 4px 4px 4px 4px;
   background: rgba(0,0,0,0.25);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

.button-option {
    padding: 2px 5px;
    margin: 2px;
    display: block;
    float: left;
    color: #fff;
    font-size: 10px;
    background-color: #82A4CB;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border: 1px solid #4E73A0;
    font-weight: bold;
}