/* 
    Document   : ui
    Created on : Jun 9, 2010, 6:53:42 PM
    Author     : websites
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body {
    position: relative;
    margin: 0;
    padding: 0;
    background: #fff;
/*    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGBAMAAAAS4vJ7AAAAG1BMVEXS4erj7PHf6O3g6O729vby8vLx8fHh6u%2Fz8%2FOBUUhCAAAAIElEQVQIHWNgFFJkMAlJYShzaWMQS3Nh0EhzY1BxSQMAM84Ew1msm%2BsAAAAASUVORK5CYII%3D"); */
}
#page {
    box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
    -o-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
    -webkit-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
    -moz-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
}
header.header {
    width: 400px;
}
header.header span {
    position: absolute;
    top:0;
    right:0;
    margin-right: 10px;
}
header.header h1 {
    line-height: 40px;
    text-indent: -9999px;
    background-image: url('../img/logo-aerotour40.png');
    background-position: 0 0;
    background-repeat: no-repeat;
}
.menu {
    position:absolute;
    top:0;
    right:0;
    margin-right: 10px;
}
.menu li {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-transition: .3s all;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;

  border-radius: 4px;
  box-shadow: inset 0 0 1px #fff, inset 4px 4px 20px rgba(255,255,255,0.33), inset -2px -2px 10px rgba(255,255,255,0.25);
  -o-box-shadow: inset 0 0 1px #fff, inset 4px 4px 20px rgba(255,255,255,0.33), inset -2px -2px 10px rgba(255,255,255,0.25);
  -webkit-box-shadow: inset 0 0 1px #fff, inset 4px 4px 20px rgba(255,255,255,0.33), inset -2px -2px 10px rgba(255,255,255,0.25);
  -moz-box-shadow: inset 0 0 1px #fff, inset 4px 4px 20px rgba(255,255,255,0.33), inset -2px -2px 10px rgba(255,255,255,0.25);
}
.menu li:hover {
    background-color: rgba(255,255,255,0.25);
}
.menu li a {
    padding: 13px;
    display: inline-block;
}
.menu li.active {
    background-color: rgba(0,0,0,0.10);
}
.container {
    background-color: white;
}
.footer {
    clear: both;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
#loginForm dl {
    padding-top: 110px;
    padding-left: 13px;
    padding-right: 13px;
}
#loginForm input[type=password], form input[type=text] {
  font-size: 1em;
  display: block;
  border: 1px solid rgba(0,0,0,0.5);
  padding: 4px 8px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: rgba(255,255,255,0.75);
  width: 192px;
  margin-left: -30px;
  box-shadow: 0 0 2px #fff, 0 0 1px #fff, inset 0 0 3px #fff;
  -o-box-shadow: 0 0 2px #fff, 0 0 1px #fff, inset 0 0 3px #fff;
  -webkit-box-shadow: 0 0 2px #fff, 0 0 1px #fff, inset 0 0 3px #fff;
  -moz-box-shadow: 0 0 2px #fff, 0 0 1px #fff, inset 0 0 3px #fff;
}

#loginForm label {
    margin-left: 20px;
    color: #bebebe
}


span.calControls {
    position: relative;
    top: -50px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    background-color: #9F9F9F;
    padding: 1px 5px 3px 5px;
    border-left: 1px solid #6B6B6B;
    border-top: 1px solid #6B6B6B;
    border-right: 1px solid #6B6B6B;
    color: #fff;
    text-shadow: 1px 1px 1px #6B6B6B;
}



.center-pane {
    padding: 0px;
}

.north-pane {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.10, rgb(168,168,168)),
        color-stop(1, rgb(207,207,207))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(168,168,168) 10%,
        rgb(207,207,207) 100%
    );
    padding: 6px;
    border-bottom: 1px solid #555;
    text-align: center;
}

.north-pane h1 {
    text-shadow: 1px 1px 1px #ddd;
    top: -12px;
    position: relative;
    font-size: 1.7em;
    text-align: left;
}

.west-pane {
    background: #D6DDE5;
    color: #000;
    padding: 0px;
    margin: 0px;
}

.west-pane a, .west-pane a:visited, .west-pane a:link  {
    color: #000;
}

.west-pane h1 {
    font-family: arial;
    font-size: 13px;
    color: #8D93A0;
    padding: 0px;
    margin: 0px;
    text-shadow: 1px 1px 1px #eee;
    text-transform: uppercase;
    padding: 2px 10px;
}

.toggle-normal {
    background:url(../img/togglers.png) 0 0 no-repeat;
}

.toggle-down {
    background:url(../img/togglers.png) 0 -10px no-repeat;
}

.west-pane .side-pane {
    width: 100%;
    margin-top: 10px;
}

.west-pane .side-pane ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

.west-pane .side-pane li {
    padding: 2px 2px 2px 30px;
    margin-left: 0px;
}

.west-pane .side-pane .active {
    color: #fff;
    border-top: 1px solid #8D93A0;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.1, rgb(126,141,180)),
        color-stop(0.74, rgb(157,174,202))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(126,141,180) 10%,
        rgb(157,174,202) 74%
    );
}

.west-pane .side-pane li:hover {
    background: #CCC;
    -o-transition: .1s all;
    -webkit-transition: .1s all;
    -moz-transition: .1s all;
    text-shadow:1px 1px 1px #A1A1A1;
    -webkit-text-shadow:1px 1px 1px #A1A1A1;
    -moz-text-shadow:1px 1px 1px #A1A1A1;
    -o-text-shadow:1px 1px 1px #A1A1A1;
}

.west-pane .side-pane .active a, .west-pane .side-pane .active a:link, .west-pane .side-pane .active a:visited {
    color: #fff;
    font-weight: bold;
}

.west-pane .side-pane span.counter {
    float   : right;
    background-color: #8296BD;
    font-size: 84%;
    font-weight: bold;
    color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 1px 8px;
}


.west-resizer {
    background: #CCC;
}
.ui-layout-toggler-west {
    background: #AAA;
}


.messages {
    position: absolute;
    top: 0px;
    left:70px;
    
}

#calNav {
    position: relative;
    top: -50px;
    color: #fff;
    text-shadow: 1px 1px 1px #6B6B6B;
    display: inline-block;
    text-shadow: #ccc 0px 0px 0px;
    font-size: 0.7em;
}
.btn {
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.10, rgb(168,168,168)),
      color-stop(1, rgb(255,255,255))
      );
  background: -moz-linear-gradient(
      center bottom,
      rgb(168,168,168) 10%,
      rgb(255,255,255) 100%
      );
  color: #000 !important;
  font-size: 1.2em;
}
.btn.right {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    -moz-border-radius-topright: 22px;
    -moz-border-radius-bottomright: 22px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}
.btn.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}
.btn:hover {
    background: #515151;
    box-shadow: inset 0 2px 5px #000;
    -moz-box-shadow: inset 0 2px 5px #000;
    -webkit-box-shadow: inset 0 2px 5px #000;
    color: #fff !important;
    text-shadow:1px 1px 1px #000;
    -webkit-text-shadow:1px 1px 1px #000;
    -moz-text-shadow:1px 1px 1px #000;
    -o-text-shadow:1px 1px 1px #000;
}




/* LOGIN FORM */
#loginPage {
    background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.02, rgb(214,244,255)),
	    color-stop(1, rgb(135,207,235))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(214,244,255) 2%,
	    rgb(135,207,235) 100%
	);
}
#loginLogo {
    display: block;
    height: 40px;
    width: 145px;
    background: url(../img/logo-aerotour40.png) no-repeat 0 0;
    margin: 0 auto;
    text-indent: -9999px;
    position: relative;
    top: 105px;
}
#loginForm {
    width: 276px;
    height: 420px;
    background: url(../img/small-Generic-Parking-Ticket.png) no-repeat 0 0;
    margin: 20px auto 0;
}
#loginForm input[type=submit] {
    display: block;
    width: 100px;
    margin-left: 25px;
}
#loginForm #loginMessage {
    text-align: center;
    position: relative;
    top: 110px;
    color: red;
}
#loginForm ul.errors {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    color: red;
}


/* User Preferences */
.container .header {
    line-height: 32px;
    color: #fff;
    padding-left: 32px;
    font-size: 1.5em;
    border-bottom: 1px solid #8D93A0;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.1, rgb(126,141,180)),
        color-stop(0.74, rgb(157,174,202))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(126,141,180) 10%,
        rgb(157,174,202) 74%
    );
}
.container form {
    width: 300px;
    margin: 32px auto 0 auto;
}

/* Notice
----------------------------------*/
.ui-pnotify {
	top: 18px;
	right: 18px;
	position: absolute;
	height: auto;
	/* Ensure that the notices are on top of everything else. */
	z-index: 9999;
}
/* This hides position: fixed from IE6, which doesn't understand it. */
html > body .ui-pnotify {
	position: fixed;
}
.ui-pnotify .ui-pnotify-shadow {
	margin: 0;
	position: absolute;
	top: .1em;
	left: .1em;
	bottom: -.2em;
	right: -.2em;
	z-index: -1;
}
.ui-pnotify-container {
	background-position: 0 0;
	padding: .8em;
	height: 100%;
}
.ui-pnotify-closer {
	float: right;
	margin-left: .2em;
}
.ui-pnotify-title {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: .4em;
}
.ui-pnotify-text {
	display: block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
	display: block;
	float: left;
	margin-right: .2em;
}
/* History Pulldown
----------------------------------*/
.ui-pnotify-history-container {
	position: absolute;
	top: 0;
	right: 18px;
	width: 70px;
	border-top: none;
	/* Ensure that the history container is on top of the notices. */
	z-index: 10000;
}
.ui-pnotify-history-container .ui-pnotify-history-header {
	padding: 2px;
}
.ui-pnotify-history-container button {
	cursor: pointer;
	display: block;
	width: 100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown {
	display: block;
	margin: 0 auto;
}