AclResource:
  columns:
    id:
      type: integer
      primary: true
      autoincrement: true
    name:
      type: varchar(200)
      notnull: true
    description:
      type: varchar(400)
      notnull: false

AclPermission:
  columns:
    id:
      type: integer
      primary: true
      autoincrement: true
    resource_id:
      type: integer
      notnull: true
    role_id:
      type: integer
      notnull: true
  relations:
    AclResource:
      foreignType: one
      local: resource_id
    AclRole:
      foreignType: one
      local: role_id

AclRole:
  columns:
    id:
      type: integer
      primary: true
      autoincrement: true
    name:
      type: varchar(200)
      notnull: true
    parent_role:
      type: integer
      notnull: false
    description:
      type: varchar(400)
      notnull: false
  relations:
    AclRole:
      foreignType: one
      local: parent_role
      foreign: id

User:
  columns:
    id:
      type: integer
      autoincrement: true
      primary: true
    first_name:
      type: varchar(200)
      notnull: true
    last_name:
      type: varchar(200)
      notnull: true
    username:
      type: varchar(200)
      notnull: true
    password:
      type: varchar(200)
      notnull: true
    role_id:
      type: integer
      notnull: true
    language:
      type: string
      notnull: true
  relations:
    AclRole:
      foreignType: one
      local: role_id
    Reservation:
      type: many

AircraftType:
  columns:
    id:
      primary: true
      autoincrement: true
      type: integer
    type:
      type: varchar(200)
      notnull: true
  relations:
    Aircraft:
      foreignType: one
      local: id
      foreign: type_id

AircraftStatus:
  columns:
    id:
      primary: true
      autoincrement: true
      type: integer
    status:
      type: varchar(200)
      notnull: true
  relations:
    Aircraft:
      foreignType: one
      local: id
      foreign: status_id

Aircraft:
  columns:
    id:
      type: integer
      autoincrement: true
      primary: true
    type_id:
      type: integer
      notnull: true
    name:
      type: varchar(300)
      notnull: true
    status_id:
      type: integer
      notnull: true
  relations:
    AircraftType:
      foreignType: one
      local: type_id
      foreign: id
    AircraftStatus:
      foreignType: one
      local: status_id
      foreign: id
    Reservation:
      type: many

Reservation:
  columns:
    id:
      type: integer
      primary: true
      autoincrement: true
    start_date:
      type: datetime
      notnull: true
    end_date:
      type: datetime
      notnull: true
    user_id:
      type: integer
      notnull: true
    aircraft_id:
      type: integer
      notnull: true
    status_id:
      type: integer
      notnull: true
  relations:
    User:
      foreignType: one
    Aircraft:
      foreignType: one
    ReservationStatus:
      foreignType: one
      local: status_id

RerservationStatus:
  columns:
    id:
      type: integer
      primary: true
      autoincrement: true
    status:
      type: varchar(200)
      notnull: true
    message:
      type: varchar(200)
      notnull: false